{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>事件列表</title>
        <link rel="stylesheet" href="{% static '/plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
        
    </head>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/event/list/">项目列表</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/event/add/">添加项目 <span class="sr-only">(current)</span></a></li>
              <li><a href="/my_event/">我的项目 <span class="sr-only">(current)</a></li>
              <li><a href="/school/list/">学校 <span class="sr-only">(current)</a></li>
              <li><a href="/country/list/">国家 <span class="sr-only">(current)</a></li>
              <li><a href="/major/list/">专业 <span class="sr-only">(current)</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">{{ request.session.info.name }}</a></li>  
              <li><a href="/logout/">注销</a></li>
              
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    <body>
        <table class="table">
            <thead>
            <tr>
                <th>名称</th>
                <th>学校</th>
                <th>专业</th>
                <th>国家</th>
                <th>参考链接</th>
                <th>操作</th>
            </tr>                
            </thead>
            <tbody>
            {% for obj in data_list %}
                <tr>
                    <td>{{obj.name}}</td>
                    <td>{{obj.school}}</td>
                    <td>{{obj.major}}</td>
                    <td>{{obj.country}}</td>
                    <td>{{obj.address}}</td>
                    <td>
                        <a href="/event/delete/?nid={{obj.id}}">删除</a>
                        <a href="/user_event/?nid={{obj.id}}">添加</a>
                        <a href="/event/{{ obj.id }}/edit/">编辑</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
<html>