{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>  
        <link rel="stylesheet" href="{% static '/plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
        <style>
            .account{
                width :500px;
                border:1px solid #dddddd;
                height: 350px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 200px;
                padding: 20px 40px;
                box-shadow: 5px 5px 5px #aaa;
            }
            .account h1{
                margin-top:10px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="account">
            <h1>用户注册</h1>
            {% csrf_token %}
            
            <form method="post" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label }} : {{ field }}
                        <span style="color: red;">{{ form.label.errors.0 }}</span>
                    </div>
                {% endfor %}
                
                <button type="submit" class="btn btn-primary"> 注册 </button>
                <a href="/login/" class="btn btn-primary">登录</a>
            </form>   
        </div>
        
    </body>
<html>